<h1>Home Page</h1>

<body>
<h>Membership</h>

<p>For our 2013/14 year we welcome 15 new members – David and Julia Aldous- Cook, Naomi Aruliah, Mansoureh de Brett, Thelma Drake, Andrew and Gillian Eperson, Geoff Gunton, Pam Hudson, Jean Hunt, Yvonne Jessop, Sue Muckle, Liz Swinton, Byron Theo and Barbara Verdie.

The membership of the Club is currently 78, with 66 primarily playing Croquet and 12 primarily playing Bowls.</p>

<h>Club sessions</h>

<p>There are Club sessions for Golf Croquet on Tuesday and Wednesday mornings, Thursday and Sunday afternoons and Wednesday evening. There is one session for Association Croquet each Sunday morning and two sessions for Bowls on Monday and Wednesday afternoons.

Some members have very kindly agreed to try to attend some of the Golf Croquet Club sessions on a regular basis so that any member turning up has someone to play with. These are normally the Tuesday and Wednesday morning and Thursday afternoon sessions. If you arrive at a Club session and there is no one else there it is a good opportunity to set the hoops out and do some practice. This sort of practice can be very valuable in improving your skills. 

  Please play on the full lawn when you can as it is much better practice. The half lawns should normally only be used when there are more than 8 members at a session.</p>

<h>Coaching</h>

<p>The Club now has 3 qualified Croquet coaches – Ian Cobbold for Golf and Neil Coote and Geoff Gunton for Association. 

Ian has already done some coaching sessions this year and will be offering some more dates shortly, giving initial priority to newer members. Neil and Geoff would be glad to hear from any members who would like to learn (more) about Association croquet.

If any members would like coaching for Bowls please contact John Davies or Ben Bennett. </p>
</body>