/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require normalize
 *= require_tree .
 */

h {
font-size: 17px;
color: #347C17;
font-weight: bold;
margin-top: 0px;
margin-bottom: 3px;
} 

body {
  border:double 4px #197519;
-moz-border-radius: 25px;
-webkit-border-radius: 25px;
border-radius: 25px;
-moz-box-shadow:inset 10px 10px 75px #000000;
-webkit-box-shadow:inset 10px 10px 75px #000000;
box-shadow:inset 10px 10px 75px #000000;
  font-family: Arial, sans-serif;
  font-size: 16px;
  text-align: center;
}

div#container {
  margin: auto;
  width: 60%;
}
p {
font-family: Arial, Helvetica, sans-serif;
font-size: 100%;
text-align:center;
border-radius: 25px;  
margin: 10px, 50px, 10px, 50px;
}

#menu {
  font-size: 15px;
  color: #F0FFFF;
  font-weight:bold;
}

header {
transition:All 1s linear;
-webkit-transition:All 1s linear;
-moz-transition:All 1s linear;
-o-transition:All 1s linear;
transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
-webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
-moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
-o-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
-ms-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
}
header:hover{
transform: rotate(0deg) scale(1.128) skew(0deg) translate(3px);
-webkit-transform: rotate(0deg) scale(1.1) skew(0deg) translate(0px);
-moz-transform: rotate(0deg) scale(1.1) skew(0deg) translate(0px);
-o-transform: rotate(0deg) scale(1.1) skew(0deg) translate(0px);
-ms-transform: rotate(0deg) scale(1.1) skew(0deg) translate(0px);
}
